.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root header {
  width: 100%;
  height: 64px;
  background-color: #2F323E;
  display: flex;
  align-items: center;
}

#root header .logo {
  font-size: 20px;
  color: #fbfbfb;
  margin: 0 33px 0 26px;
}

#root header .btn-create-doc {
  background-color: #5177FF;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
}